* {
  box-sizing: border-box;
}

body {
  font-family: 'Jost', sans-serif;
}

.container {
  max-width: 70rem;
  margin: auto;
}

.navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
}

.navbar-social-list {
  display: flex;
  align-items: center;
  margin-left: 0;
  list-style: none;
}

.viber-icon,
.whatsapp-icon,
.tg-icon {
  width: .75rem;
  height: .75rem;
}

.navbar-list-item:not(:last-child) {
  margin-right: 1.875rem;
}

.navbar-list-item:nth-child(3) {
  margin-right: 0;
  flex-shrink: 0;
}

.navbar-list-item-link {
  font-style: normal;
  font-weight: 400;
  font-size: .75rem;
  line-height: 17px;
  color: #5d6c7b;
  text-decoration: none;
}

.navbar-phone-link {
  font-style: normal;
  font-weight: 500;
  font-size: .75rem;
  line-height: 1.0625rem;
  color: #282739;
}

.navbar-social-list {
  padding-left: 1.875rem;
}

.navbar-social-list-item:not(:last-child) {
  margin-right: .5313rem;
}

.navbar-phone {
  display: flex;
  justify-content: flex-end;
  flex-basis: 100%;
}

.search-icon {
  width: 1rem;
  height: 1rem;
}

.balance-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.like-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.shopping-cart-icon {
  width: 1.25rem;
  height: 1.25rem;
}

.navbar-seporator {
  color: rgba(236, 243, 255, 1);
  opacity: 0.33;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 2.1875rem;

  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  line-height: 2.6875rem;
  text-transform: uppercase;
  color: #282739;
  text-decoration: none;
}

.navbar-content {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 1.8125rem;
}

.navbar-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 7.125rem;
  margin-right: 1.25rem;
  padding: .5rem 1.125rem .5625rem .9375rem;

  background: #6f73ee;
  border: 1.5px solid #6f73ee;
  border-radius: .3125rem;
}

.button-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.4375rem;
  color: #ffffff;
}

.button-menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  width: 1.4375rem;
  margin-right: .8125rem;
}

.button-line {
  width: .8125rem;
  height: .0313rem;
  margin-bottom: .1875rem;

  background: #ffffff;
  border: 0.1px solid #ffffff;
  border-radius: 20%;
}

.button-line-3 {
  width: .4375rem;
}

.shopping-cart-list {
  display: flex;
  align-items: center;
  padding-left: 0;
}

.navbar-form {
  position:relative;
  display: flex;
  align-items: center;
  margin-right: 2.9375rem;
}

.navbar-input {
  width: 37.6875rem;
  padding: .625rem 0 .625rem 0;
  border: .0938rem solid #6f73ee;
  border-radius: 5px;
}

.navbar-input-buttom {
  position: absolute;
  padding: .73rem;
  right: 0;
  background: #6f73ee;
  border: .0938rem solid #6f73ee;
  border-radius: 0rem .3125rem .3125rem 0rem;
}

.input-navbar-label {
  position: absolute;
  padding-left: 1.25rem;
  left: 0;
  flex-shrink: 0;
  font-style: normal;
  font-weight: 400;
  font-size: .875rem;
  line-height: 1.25rem;
  color: #5d6c7b;
}

.shopping-cart-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.shopping-cart-list-item {
  display: flex;
  align-items: center;
}

.shopping-cart-list-item:not(:last-child) {
  margin-right: 1.5625rem;
}

.shopping-cart-icon {
  margin-right: .625rem;
}


@media (max-width: 1200px) {
  html{
    font-size: 14px;
  }
}